html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffcfa;
}

main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 70vw auto;
    padding: 10px;
    gap: 10px;
    height: 100vh;
    box-sizing: border-box;
  }

.header-container {
    background-color: #fffcfa;
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    font-family: Trebuchet, sans-serif;
    letter-spacing: 0.1vw;
    color:#4a4e69;
    margin: 0; 
    padding-left: 10px;
    padding-top: 5px;
    position: relative; 
    z-index: 1; 
    white-space: nowrap;
    overflow: hidden;
  }

  /* Navigation buttons */
.nav-buttons button {
    margin: 0 1px;
    padding: 10px 15px;
    background-color: #cddfec;
    color: #292929;
    border: none;
    cursor: pointer;
    font-family: Trebuchet, sans-serif;
    font-size: 16px;
    transition: background-color 0.2s ease;
    border-radius: 20px;
}

.nav-buttons button:hover {
    background-color: #545454;
    color: white; /* Change text color */
}

#statistic {
    grid-row: 2;
    grid-column: 1 / -1;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

#vertical-box1 {
    flex: 1 1 250px; /* allow shrinking/growing */
    min-width: 250px;
    background-color: #ccd5ae;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#vertical-box2 {
    flex: 1 1 250px; /* allow shrinking/growing */
    min-width: 250px;
    background-color: #ddbea9;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#vertical-box3 {
    flex: 1 1 250px; /* allow shrinking/growing */
    min-width: 250px;
    background-color: #eee0cb;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#vertical-box4 {
    flex: 1 1 250px; /* allow shrinking/growing */
    min-width: 250px;
    background-color: #C2C0D8;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.value {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Trebuchet, sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.measure {
    font-size: 1.2rem;
    font-family: Trebuchet, sans-serif;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#map {
    height: 100%;          
    width: 100%;         
    grid-row: 3;
    grid-column: 1;    
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

.map-container {
    position: relative; /* This makes the search bar position relative to the map container */
    width: 100%; /* Adjust this to the width of your map */
    height: 100%; /* Adjust this to your map height */
}

#search-bar {
    width: 30%; /* This will resize relative to the map container */
    padding-top: 10px;
    border-radius: 75px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 5%; 
    font-size: 14px;
    z-index: 1000; 
    transition: width 0.3s ease; 
}

/* Filter button */
#reload-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: white;
    color: #7c7f81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#reload-button:hover {
    background-color: #292929;
    color: white;
}

#graphs {
    height: 100%;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Trebuchet, sans-serif;
    background-color: #e7e5e4;
    padding: 10px;
    gap: 10px;
    border-radius: 12px;
    box-sizing: border-box; /* keep in line with map and within screen */
  }

.graph-box {
    background-color: #eee;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
}

#neighborhood-select {
    margin-bottom: 20px; 
  }

#suggestions {
    list-style: none;             
    margin: 0;
    padding: 0;
    font-family: Trebuchet, sans-serif; 
    background-color: white;      
    border-top: none;              
    width: 100%;        
    position: absolute;
    top:100%;
    left: 0;           
    z-index: 9999;
    max-height: 200px;             
    overflow-y: auto;
    color: black;
  }
  
  #suggestions li {
    padding: 8px 8px;
    cursor: pointer;
    font-size: 14px;
  }
  
  #suggestions li:hover {
    background-color: #f0f0f0;
  }
  